.user-approval-screen {
  width: 100%;
  padding: 0.5rem 2.5rem;
}
.edit-icons {
  display: flex;
  flex-direction: row;
}
.icon {
  color: white;
  padding: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 0.3rem;
}
.reject {
  background-color: #cd2727;
}
.accept {
  background-color: #1cc745;
}

.btn {
  margin: 0;
  padding: 0.5rem 1rem;
  margin-right: 0rem;
  outline: none;
  border: none;
  text-align: left !important;
  border-radius: 5px;
  background-color: var(--bgColor2) !important;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.8rem !important;
  width: max-content;
  cursor: pointer;
  border: 1px solid #000000 !important;
  color: var(--textColor5) !important;
}

.modal-footer .btn-background {
  background-color: transparent !important;
  color: #004f9b !important;
  border: 1px solid #004f9b !important;
}

.create-domain-btn {
  border: 0.5px solid #707070;
}

.btn-container {
  display: flex;
  margin-right: 20px;
  justify-content: right;
}

.action-btn-btn {
  margin-bottom: 50px;
  outline: none;
  text-align: left !important;
  border-radius: 5px;
  background-color: var(--bgColor2) !important;
  font-family: Poppins;
  font-weight: normal;
  font-size: 0.8rem !important;
  width: max-content;
  cursor: pointer;
  border: 1px solid #000000 !important;
  color: var(--textColor5) !important;
  padding: 0.2rem 1rem !important;
}
.domain-user-list {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  padding: 1rem;
}
.domain-user-list h3 {
  font-size: 32px;
  font-weight: 250px;
}

.domain-user-list-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.domain-list-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.domain-user-table-content {
  width: 60%;
  min-width: 500px;
}

.listed-domain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-width: 300px;
  border: 1px solid;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.accept-request {
  margin-right: 1rem !important;
}

.domain-text {
  width: 6rem;
}

.ant-pagination-item-link {
  display: grid !important;
  place-items: center !important;
}

@media (max-width: 800px) {
  .domain-user-table-content {
    min-width: 100px !important;
    width: 100%;
  }
  .domain-list-content {
    width: 100%;
    min-width: 100px !important;
  }
  .listed-domain {
    min-width: 100px;
    font-size: 0.8rem;
  }
}
