.user-approval-screen{
    width: 100%;
}
.edit-icons{
    display: flex;
    flex-direction: row;
}
.icon{
    color: white;
    padding: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.3rem;
    width: 1.3rem;
    margin: 0 0.3rem;
}
.reject{
    background-color: #CD2727;
}
.accept{
    background-color: #1CC745;
}

.btn {
    margin: 0;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--bgColor2);
    font-family: Poppins;
    font-weight: 500;
    width: max-content;
    cursor: pointer;
    color: var(--textColor5)
}

.create-domain-btn{
    border: 0.5px solid #707070;
}


.btn-container{
    display: flex;
    margin-right: 1rem;
    justify-content: right;
}

.domain-user-list{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
    box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
    padding: 1rem;
}
.domain-user-list-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.domain-list-content{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.domain-user-table-content{
    width: 60%;
    min-width: 500px;
}

.listed-domain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    min-width: 300px;
    border: 1px solid;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    margin-bottom: 0.7rem;
    cursor: pointer;
}

.clear-notification{
    margin-right: 1rem !important;
}

.domain-text{
    width: 6rem;
}

@media(max-width: 800px){
    .domain-user-table-content{
        min-width: 100px !important;
        width: 100%;
    }
    .domain-list-content{
        width: 100%;
        min-width: 100px !important;
    }
    .listed-domain{
        min-width: 100px;
        font-size: 0.8rem;
    }
}
