.yk-admin-contact {
  letter-spacing: 1px;
}

.yk-admin-contact .img-box i {
  font-size: 7rem;
  color: #5a5a5a;
}

.cont-detail i {
  display: block;
  color: #004f9b;
}

.cont-detail p,
.cont-detail input {
  color: #000000;
  font-weight: 600;
  font-family: 'Poppins';
}

.sm-img-box {
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
}

/*--------------gen-product-start--------------*/

.yk-admin-contact .gen-product {
  box-shadow: 0px 0px 8px #c4c4c4;
}

.yk-admin-contact .gen-product .fa-picture-o {
  font-size: 30px;
  color: #5a5a5a;
}

/*--------------Profile-brief-start--------------*/

/*-----------pmk-product-----------*/

/*------------product-handiling-------------*/

.yk-admin-contact .product-handiling {
  box-shadow: 0px 0px 8px #c4c4c4;
}
