.signIn-container {
  background-color: var(--bgColor3);
}

.signIn-container {
  padding: 2rem 0;
  padding-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* shadow */
  -webkit-box-shadow: 0px 0px 11px -1px rgba(168, 168, 168, 1);
  -moz-box-shadow: 0px 0px 11px -1px rgba(168, 168, 168, 1);
  box-shadow: 0px 0px 11px -1px rgba(168, 168, 168, 1);

  border-radius: 7px;
  min-width: 17rem;
  width: 100%;
  /* max-width: 24rem; */
  /* margin-bottom: 60px; */
}
.container__heading {
  font-size: 1rem;
  font-weight: bold;
}

.back-arrow-btn {
  font-size: x-large;
}

h3 {
  font-weight: 500;
}

.fa-eye .two {
  position: absolute;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 77%;
}

.forum {
  position: relative;
}

.input-field {
  margin: 0.4rem 0;
  height: 1.7rem;
  min-width: 100%;
  /* min-width: 19rem;
  width: 93%; */
  padding: 0.07rem 0.6rem;
  font-size: 0.8rem;
  font-family: Poppins;
  border: 0.5px solid rgb(56, 56, 56);
  border-radius: 3px;
}

.submit-btn {
  margin: 0.8rem 0;
  height: 1.8rem;
  /* width: 100%;
  min-width: 13rem; */
  font-size: 0.8rem;
  font-family: Poppins;
  font-weight: 400;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 3px;
  color: var(--textColor5);
  background-color: var(--bgColor2);
  -webkit-box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
  box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
  cursor: pointer;
}

.forgot-link {
  /* margin: 0.1rem 0; */
  text-align: center;
  font-size: 0.8rem;
  color: rgb(0, 38, 255) !important;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-color: rgb(0, 38, 255) !important;
}

.input-field__email {
  text-transform: lowercase;
}

.input-field__email::placeholder {
  text-transform: capitalize;
}

.first {
  position: absolute;
  left: 20rem;
  top: 52px !important;
}
