.heading-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: lightgray;
}

.heading-container > h1 {
  font-weight: 500;
}

.yk-back-image-profile {
  background-image: url('/public/assets/profileSettingsbanner.jpg');
  background-size: cover;
  background-position: center;
}

.yk-back-image-news {
  background-size: cover;
  background-position: center;
  background-image: url('/public/assets/news banner.jpg');
}


.yk-back-tokuchu-news {
  background-size: cover;
  background-position: center;
  background-image: url('/public/assets/Tokuchu banner.png');
}
