/* .sub-header {
  font-weight: 500;
  font-size: 1.8rem;

}

.img{
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.img-box {
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 16rem;
  height: 12rem;
  border-radius: 5px;
  display: grid;
  color: #727272;
  place-items: center;
  font-size: 70px;
  position: relative;
  margin-bottom: 2rem;
  border: 1px solid #000000; display: grid; place-items: center; position: relative;
}

.img-section-two .img-main{
  margin-right: 30px;
}


.edit{
  position: absolute; top: 5px; right: 2px; font-size: 20px;
}

.table-header {
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.tech-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.tech-info .fa-pencil{
  font-size: 20px;
  color: blue;
}

.tech-info .fa-trash{
  color: red;
}

.blue{
  background-color: var(--bgColor2) !important;
}

.icon-blue{
  color: var(--bgColor2)
}


.add-table {
  border-radius: 5px;
  color: white;
  background-color: var(--bgColor2) !important;
  font-size: small;
  border-color: var(--bgColor2);
  padding: 2px 10px;


  margin: 0.8rem 0;
  height: 1.8rem;
  font-size: 0.8rem;
  font-family: Poppins;
  font-weight: 400;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 3px;
  color: var(--textColor5);
  background-color: var(--bgColor2);
  -webkit-box-shadow: 0px 0px 62px -46px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 62px -46px rgba(219,219,219,1);
  box-shadow: 0px 0px 62px -46px rgba(219,219,219,1);
  cursor: pointer;
}

.rdt_Table {
  border-style: solid;
  border: 1px;
  border-color: black;

}

.bottom-border{
  border-bottom-color: black;;
  border-bottom-width: 1px;

}

.submit-btn{
  margin: 0.8rem 0;
  height: 1.8rem;
  min-width: 13rem;
  font-size: 0.8rem;
  font-family: Poppins;
  font-weight: 400;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 3px;
  color: var(--textColor5);
  background-color: var(--bgColor2);
  -webkit-box-shadow: 0px 0px 62px -46px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 62px -46px rgba(219,219,219,1);
  box-shadow: 0px 0px 62px -46px rgba(219,219,219,1);
  cursor: pointer;
}

.font-poppins{
  font-family: Poppins !important

}

.font-size {
  font-size: 0.8rem !important
}

.font-size-small {
  font-size: 11px !important
}

.head-5{
  margin-bottom: 0px;
} */
