a {
  color: black !important;
}

.search {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.2rem 0.5rem !important;
  max-width: 18rem !important;
  border-radius: 50rem;
}

.phone-nav-item {
  padding: 0.35rem 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.phone-nav-item:hover {
  background-color: rgb(237, 237, 237);
}

.header-container > i {
  position: relative;
}

.phone-name-dropdown {
  position: absolute;
  right: 20px;
  top: 40px;
}

.dropdown-item-phone {
  padding-left: 0.8rem;
}

.nav-link,
.logout-btn {
  color: white !important;
  font-size: 0.8rem;
  font-weight: normal !important;
}

.font-6 {
  font-size: 0.8rem !important;
  font-weight: 600 !important;
}
.msg-bubble {
  background: url('../../assets/message_icon.svg');
}
@media (max-width: 767.98px) {
  .nav-link,
  .logout-btn {
    color: black !important;
    font-size: 0.8rem;
    font-weight: normal !important;
  }
}

@media (min-width: 768px) {
  /* .navbar-expand-md .navbar-nav .dropdown-menu {
    margin-top: 4.8rem;
  } */
  /* .nav-link,
  .logout-btn {
    color: white !important;
    font-size: 0.8vw;
    font-weight: normal !important;
  } */
}
@media screen and (max-width: 768px) {
  .navbar-collapse-sm {
    position: fixed;
    top: 0;
    right: 0;
    /* padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px; */
    width: 16rem;
    height: 100%;
  }
  .navbar-collapse-sm.collapsing {
    right: -45%;
    transition: right 0s ease;
  }

  .navbar-collapse-sm.show {
    right: 0;
    width: 16rem;
    transition: right 0.35s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .navbar-toggler.collapsed ~ .navbar-collapse-sm {
    transition: right 500ms ease-in-out;
  }
}
