.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    border: 1px solid;
    margin: 0.5rem 1rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    max-width: 65rem;
}

li{
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0;
}

.border-left{
    border-left: 1px solid black;
}

.border-right{

    border-right: 1px solid black;
}

li>a{
    padding: 0 1rem;
}

i{
    padding: 0 0.3rem;
}

.search_input{
    border: 1px solid black;
    background: white;


    width: 80%;
    min-width: 14rem;
    padding: 0.19rem 1.5rem;
    font-family: Poppins;
    color: black;
    /* padding-left: 2rem; */
    text-align: center;
}

.searchBar{
    min-width: 14rem;
    width: 30%;
    max-width: 20rem;
    /* border: 1px solid black; */
    /* margin: 0 1rem; */
    margin-left: 1rem;
    position: relative;
}

.searchBar > i {
position: absolute;
top: 5.3px;
left: 8px;
}
@media(max-width: 970px){
    .nav{
        display: none;
    }
}


.phone-nav-item{
    padding: 0.35rem 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.phone-nav-item:hover{
    background-color: rgb(237, 237, 237);
}

.header-container > i {
    position: relative;
}

.phone-name-dropdown{
    position: absolute;
    right: 20px;
    top: 40px;
}

.dropdown-item-phone{
    padding-left: 0.8rem;
}



