.thumb {
  border: 1px solid lightgrey;
  aspect-ratio: 1;
  /* width: 12rem; */
}

.border {
  border: 1px solid lightgrey;
  font-size: 2vh;
  font-weight: 500;
  /* width: 12rem; */
}

.vh2 {
  font-size: 2vh;
  font-weight: 500;
  /* width: 12rem; */
}

.light-grey {
  color: grey;
}

.text-bold {
  font-weight: 500;
  font-size: 1.4rem;
}

.thumb > img {
  object-fit: contain;
  aspect-ratio: 1;
}

.bordered-btn {
  background-color: var(--bgColor2) !important;
  padding-block: 0.2rem !important;
  color: white !important;
  padding-inline: 1rem !important;
  border: 1px solid black !important;
  font-size: 0.6rem !important;
}

.bordered-btn:hover {
  text-decoration: none !important;
}
.accordian-title[aria-expanded='true'] .fa-angle-right {
  transform: rotate(-90deg);
}
.img-product-line {
  height: 100%;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
