.filter-and-read-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archived-filter {
  /* margin: 1rem 1rem 7rem 0rem; */
}
