.react-datepicker-wrapper,
.form-control,
.select-box > div {
  width: 200px !important;
}

.description-box {
  width: 100% !important;
}

select {
  width: 200px;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.requirements-list {
  list-style: none;
  line-height: 1;
  margin-bottom: 0;
}

.requirements-list li::before {
  content: '\2022';
  color: rgb(0, 79, 155);
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
