
.toku-dropdn button{background-color: #ffffff; color: #000000; font-size: 24px !important;}
.toku-dropdn button:hover{background-color: #EFEFEF; color: #000000;}
.toku-dropdn button:focus{background-color: #EFEFEF !important; color: #000000 !important; box-shadow: none !important;}
.toku-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{background-color: #EFEFEF !important; color: #000000 !important; box-shadow: none !important;}
.toku-dropdn .dropdown-submenu>a:after{display: none !important;}
.toku-dropdn .btn-arrow{width: 40px; background-color: #ffffff !important; border: 1px solid #000000 !important; color: #000000 !important; display: grid !important; place-items: center !important; }
.toku-dropdn .dropdown-menu{min-width: 250px;}
.toku-dropdn .fa-chevron-right{float: right;}
.toku-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
.toku-dropdn .dropdown-submenu {
    position: relative;
}

.dropdown-item.active, .dropdown-item:active{background-color:#EFEFEF !important;}



.toku-dropdn .dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after{margin: 0 0 0 6px  !important;}
.toku-dropdn .dropdown{  box-shadow: none !important;}
.toku-dropdn .dropdown-menu{margin: 0 !important;}
.toku-dropdn .dropdown-menu.show{left: -209px !important; top: 1px !important; }
.toku-dropdn .dropdown-item a{color: #000000;}
.toku-dropdn .dropdown-item:focus{background-color:#EFEFEF;}
.toku-dropdn .dropdown-item a:focus{background-color:#EFEFEF;}
.toku-dropdn .dropdown-submenu .dropdown-item{font-size: 24px; color: #000000;}

.toku-dropdn .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.toku-dropdn .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.toku-dropdn .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.toku-dropdn .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.toku-dropdn .dropdown-submenu.pull-left {
    float: none;
}

.toku-dropdn .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.toku-dropdn .btn-main{min-width: 411px; min-height: 50px; text-align: left; border: 1px solid #000000 !important; color: #000000 !important;}




