
.toku-dropdn button{background-color: #ffffff; color: #000000; font-size: 24px !important;}
.toku-dropdn button:hover{background-color: #EFEFEF; color: #000000;}
.toku-dropdn button:focus{background-color: #EFEFEF !important; color: #000000 !important; box-shadow: none !important;}
.toku-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{background-color: #EFEFEF !important; color: #000000 !important; box-shadow: none !important;}
.toku-dropdn .dropdown-submenu>a:after{display: none !important;}
.toku-dropdn .btn-arrow{width: 40px; background-color: #ffffff !important; border: 1px solid #000000 !important; color: #000000 !important; display: grid !important; place-items: center !important; }
.toku-dropdn .dropdown-menu{min-width: 456px;}
.toku-dropdn .fa-chevron-right{float: right;}
.toku-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
.toku-dropdn .dropdown-submenu {
    position: relative;
}

.tokachu-main .profile-setting-container{padding-bottom: 30% !important;}
.toku-dropdn button.yg-font-size{font-size: 0.8rem !important; padding: 8px 16px !important; margin: 30px 0px !important;}
.dropdown-item.active, .dropdown-item:active{background-color:#EFEFEF !important; }



.toku-dropdn .dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after{margin: 0 0 0 6px  !important;}
.toku-dropdn .dropdown{box-shadow: none !important; position: inherit !important; margin-top: 40px !important; z-index: 1000; margin-bottom: 100px;}
.toku-dropdn .dropdown-menu{margin: 0 !important;}
.toku-dropdn .dropdown-menu.show{left: -414px !important; top: 1px !important; }
.toku-dropdn .dropdown-item a{color: #000000;}
.toku-dropdn .dropdown-item:focus{background-color:#EFEFEF;}
.toku-dropdn .dropdown-item a:focus{background-color:#EFEFEF;}
.toku-dropdn .dropdown-submenu .dropdown-item{font-size: 1vw; color: #000000;}

.toku-dropdn .dropdown-submenu>.dropdown-menu {
    top: auto;
    left: 100%;
    margin-top: -48px !important;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.toku-dropdn .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.toku-dropdn .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.toku-dropdn .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.toku-dropdn .dropdown-submenu.pull-left {
    float: none;
}

.toku-dropdn .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.toku-dropdn .btn-main{font-size: 1vw !important; min-width: 411px; min-height: 50px; text-align: left; border: 1px solid #000000 !important; color: #000000 !important;}









 /* #tokachu,
 #tokachu ul {

     list-style: none;
     margin: 0;
     padding: 0;
     display: grid;
 }

 #tokachu {
     height: 41px;
     padding-left: 5px;
     padding-top: 5px;
     position: relative;
     z-index: 2;
 }

 #tokachu ul {
     left: -9999px;
     position: absolute;
     top: 50px;
     width: 441px;
 }

 #tokachu ul ul {
     left: -9999px;
     position: absolute;
     top: 0;
     z-index: 3;
     width: auto;
     border: none;
 }

 #tokachu li {
     float: left;
     margin-right: 5px;
     position: relative;
 }

 #tokachu li a {
     background: #ffffff;
     color: #000;

     height: 50px;
     float: left;
     font-size: 24px;
     padding: 0px 10px;
     border: 1px solid #707070;
     text-decoration: none;
 }


 #tokachu .sub-sm li a {
     border: none;
 }

 #tokachu>li>a {


     overflow: hidden;
 }

 #tokachu li a.tokachu-dropdwn {

     padding-right: 15px;

 }

 #tokachu li .dd a.tokachu-dropdwn:hover {
     background-color: #EFEFEF;
 }

 .tokachu-dropdwn {
     width: 440px;
     display: flex;
     border-radius: 5px;
     align-items: center;
     justify-content: space-between;
 }

 .fa-caret-down {
     padding-top: 12px;
 }

 #tokachu ul li {
     margin: 0;

 }

 #tokachu ul li a {
     width: 100%;
 }

 #tokachu ul li a.tokachu-dropdwn {
     padding-right: 10px;
 }

 #tokachu li:hover>a {
     background-color: #ffffff;
     color: #000000;
 }

 #tokachu li a:focus {
     outline-width: 0;
 }


 .sub-three{left: 251px !important; }

 #tokachu li a:active+ul.dd,
 #tokachu li a:focus+ul.dd,
 #tokachu li ul.dd:hover {
     left: 0;
 }

 #tokachu ul.dd li a:active+ul,
 #tokachu ul.dd li a:focus+ul,
 #tokachu ul.dd li ul:hover {
     left: 441px;
     width: 250px;
 }

 #tokachu .tokachu-dropdwn span {
     border-left: 1px solid #707070;
     padding-left: 16px;
     height: 50px;
 }

 #tokachu .fa-chevron-right {
     font-size: 18px;
 }

 #tokachu .sub-sub-sm {
     left: 251px !important;
     width: 250px !important;
 } */
