.profile-setting {
}
.profile-setting__box {
  -webkit-box-shadow: 0px -1px 5px 0.1px rgba(186, 186, 186, 1);
  -moz-box-shadow: 0px -1px 5px 0.1px rgba(186, 186, 186, 1);
  box-shadow: 0px -1px 5px 0.1px rgba(186, 186, 186, 1);
  /* width: 80%; */
  border-radius: 4px;
  /* max-width: 50rem; */
}

.profile-setting-container {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.profile-setting__info {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.profile-setting__info_img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.profile-setting__info_name {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.profile-setting__info_name > h4 {
  font-weight: 171px;
  font-size: 24px;
  margin: 0;
}

.profile-setting__info_name > p {
  color: var(--textColor3);
  font-size: 16px;
  margin: 0.3rem 0;
}

.profile-setting__basic-profile-edit {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 1rem; */
}

.edit_input {
  border-bottom: 1px solid black;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem;
}
.profile-setting__basic-profile {
  /* margin-bottom: 3rem; */
}

.profile-setting__heading {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem 1.8rem;
  -webkit-box-shadow: 0px -1px 5px 0.1px rgba(186, 186, 186, 1);
  -moz-box-shadow: 0px -1px 5px 0.1px rgba(186, 186, 186, 1);
  box-shadow: 0px -1px 5px 0.1px rgba(186, 186, 186, 1);
  background-color: var(--bgColor2);
  color: var(--textColor5);
}

.edit_input > input {
  border: none;
  font-family: Poppins;
  width: 100%;
  margin-left: 1rem;
}

.edit_input > input:focus {
  outline: none;
}
.edit_input > i {
  margin: 0 0.1rem;
}

.edit {
  color: var(--textColor3);
  cursor: pointer;
}

.profile-setting__sales-news {
  margin: 0rem 1.5rem;
  padding-bottom: 1.4rem;
}

.edit_sales-news > input {
  margin-right: 1rem;
}

.edit_sales-news {
  margin: 0.8rem 0;
}

.specific {
  margin-left: 2rem;
}

.sales-news_background {
  background-color: var(--textColor5);
  margin-top: -0.9rem;
  padding-top: 1.3rem;
}

button > .delete-btn {
  margin: 0.8rem 1rem 1rem 0rem;
  height: 2rem;
  min-width: 8rem;
  font-size: 0.8rem;
  font-family: Poppins;
  font-weight: 400;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 3px;
  background-color: var(--bgColor2);
  -webkit-box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
  box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
}

.save-btns > button {
  /* margin: 0.8rem 1rem 1rem 0rem; */
  height: 2rem;
  font-size: 0.8rem;
  font-family: Poppins;
  font-weight: 400;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 3px;
  background-color: var(--bgColor2);
  -webkit-box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
  box-shadow: 0px 0px 62px -46px rgba(219, 219, 219, 1);
}

.delete-btn {
  background-color: var(--bgColor5) !important;
  color: var(--bgColor2);
}
.btn_and_box {
  display: flex;
  flex-direction: column;
}

.events_trainings {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.event_training_heading {
  margin-top: 0;
}

.edit_training {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0 0rem 0;
  padding: 0 2rem;
}

.training_text {
  margin-top: -0.5rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 2.4rem;
}

.ant-pagination-item-link {
  display: grid !important;
  place-items: center !important ;
}
.add_row {
  /* width: 95%; */
  background: #eeeeee;
  padding: 2rem 0rem !important;
}
