.checkbox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.checkbox-text{
    font-size: 0.8rem;
    margin-top: 1px;
    margin-left: 6px;
}

.terms{
  font-size: 0.8rem;
  width: 77%;
  line-height: 1.3rem;
}
.terms-link{
    text-align: center;
    font-size: 0.8rem;
    color: rgb(0, 38, 255) !important;
    text-decoration-line: underline;
    text-underline-offset: 1px;
    text-decoration-color: rgb(134, 152, 255);

}
.forum{
    position: relative;
}
.container-head{
    position: relative;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-arrow-btn{
    color: var(--bgColor2);
    cursor: pointer;
    size: 50px !important;
}

.password-box{
    position: relative;
}
.first-signin{
    position: absolute;
    left: 266px;
    top: 133px ;
}

.yk-dropdown-holder .dropdown-toggle::after{
    
position: absolute;
top: 11px;
right: 8px;
}
.two {
    position: absolute;
    left: 266px;
    top: 173px;
}

.yg-font-size-r{
    margin-left: 20px !important;
    padding: 0% !important;
    width: auto !important;
    text-transform: capitalize;
}

.yg-font-size-registrtion{
    width:auto !important;
    margin: 0px !important;
}
.yg-font-size-registrtion input{
    margin: 0 !important;
}

.input-group{
    flex-wrap: initial !important;
}
.saveBtn{
    font-size: small !important;
    text-transform: capitalize;
    width: auto !important;
    padding: 4px !important;
    margin: 0px !important;
}