.checkbox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.checkbox-text {
  font-size: 0.8rem;
  margin-top: 1px;
  /* margin-left: 6px; */
}

.terms {
  font-size: 0.8rem;
  width: 77%;
  line-height: 1.3rem;
}
.terms-link {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(0, 38, 255) !important;
  text-decoration-line: underline;
  text-underline-offset: 1px;
  text-decoration-color: rgb(134, 152, 255);
}
.forum {
  position: relative;
}
.container-head {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  /* display: flex;
    align-items: center; */
  justify-content: center;
}
.back-arrow-btn {
  color: var(--bgColor2);
  cursor: pointer;
  size: 50px !important;
}

.password-box {
  position: relative;
}
.first-signin {
  position: absolute;
  left: 20rem;
  top: 133px;
}

.yk-dropdown-holder .dropdown-toggle::after {
  position: absolute;
  top: 11px;
  right: 8px;
}
.two {
  position: absolute;
  left: 20rem;
  top: 173px;
}

.yg-font-size-r {
  margin-left: 20px !important;
  padding: 0% !important;
  width: auto !important;
  text-transform: capitalize;
}
.yg-custom-dropdown {
  text-transform: capitalize;
}
.yg-font-size-registrtion {
  width: auto !important;
  margin: 0px !important;
}
.yg-font-size-registrtion input {
  margin: 0 !important;
  margin-right: 1rem !important;
}

.input-group {
  flex-wrap: initial !important;
}
.saveBtn {
  font-size: small !important;
  text-transform: capitalize;
  width: auto !important;
  padding: 4px !important;
  margin: 0px !important;
}





.yk-sign-up-dropdn button{background-color: #ffffff; color: #000000; font-size: 24px !important;}
.yk-sign-up-dropdn .dropdown{background-color: none !important; background: none !important; box-shadow: none !important;}
.yk-sign-up-dropdn button:hover{background-color: #ffffff; color: #000000;}
.yk-sign-up-dropdn button:focus{background-color: #ffffff !important; color: #000000 !important; box-shadow: none !important;}
.yk-sign-up-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{background-color: #ffffff !important; color: #000000 !important; box-shadow: none !important;}
.yk-sign-up-dropdn .dropdown-submenu>a:after{display: none !important;}
.yk-sign-up-dropdn .btn-arrow{min-width: 40px; border: none;}
.yk-sign-up-dropdn .dropdown-menu{min-width: 250px; margin-left: 0 !important;}
.yk-sign-up-dropdn .fa-chevron-right{float: right;}
.yk-sign-up-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
.yk-sign-up-dropdn .dropdown-submenu { margin-right:0px; left: 0 !important;
  position: relative; background-color: #ffffff !important;
}

.yk-sign-up-dropdn .yg-font-size-r{margin-left: 0 !important;  padding: 0.25rem 1.5rem !important;}
.dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after{margin-right: 4px; float: right;}

.yk-sign-up-dropdn .dropdown-item{font-size: 0.8rem; margin-right: 0;}



.yk-sign-up-dropdn .btn-group{ border:  1px solid #000000; border-radius: 5px; width: 100%;;}
.yk-sign-up-dropdn .dropdown-item a{color: #000000;}
.yk-sign-up-dropdn .dropdown-item:focus{background-color:#ffffff;}
.yk-sign-up-dropdn .dropdown-item a:focus{background-color:#ffffff;}
.yk-sign-up-dropdn .dropdown-submenu .dropdown-item{font-size: 24px; color: #000000; font-size: 0.8rem !important;}

.yk-sign-up-dropdn .btn{background-color: #ffffff !important; color: #000000 !important; font-size: 0.8rem !important;}
.yk-sign-up-dropdn .dropdown-submenu>.dropdown-menu {
  top: auto;
  margin-top: auto!important;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.yk-sign-up-dropdn .dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.yk-sign-up-dropdn .dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.yk-sign-up-dropdn .dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.yk-sign-up-dropdn .dropdown-submenu.pull-left {
  float: none;
}

.yk-sign-up-dropdn .dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.bt-m{background-color: #000000 !important;}
.yk-sign-up-dropdn .dropdown
.yk-sign-up-dropdn .dropdown{min-width: 411px; min-height: 50px; text-align: left; border: none; background-color: #ffffff !important; box-shadow: none !important;}

/* .yk-sign-up-dropdn button{background-color: #ffffff; color: #000000; font-size: 24px !important;}
.yk-sign-up-dropdn button:hover{background-color: #EFEFEF; color: #000000;}
.yk-sign-up-dropdn button:focus{background-color: #EFEFEF !important; color: #000000 !important; box-shadow: none !important;}
.yk-sign-up-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{background-color: #EFEFEF !important; color: #000000 !important; box-shadow: none !important;}
.yk-sign-up-dropdn .dropdown-submenu>a:after{display: none !important;}
.yk-sign-up-dropdn .btn-arrow{min-width: 40px; border: none;}
.yk-sign-up-dropdn .dropdown-menu{min-width: 250px;}
.yk-sign-up-dropdn .fa-chevron-right{float: right;}
.yk-sign-up-dropdn .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
.yk-sign-up-dropdn .dropdown-submenu {
    position: relative;
}

.yk-sign-up-dropdn .btn-group{ border:  1px solid #000000; border-radius: 5px;}
.yk-sign-up-dropdn .dropdown-item a{color: #000000;}
.yk-sign-up-dropdn .dropdown-item:focus{background-color:#EFEFEF;}
.yk-sign-up-dropdn .dropdown-item a:focus{background-color:#EFEFEF;}
.yk-sign-up-dropdn .dropdown-submenu .dropdown-item{font-size: 24px; color: #000000;}

.yk-sign-up-dropdn .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.yk-sign-up-dropdn .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.yk-sign-up-dropdn .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.yk-sign-up-dropdn .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.yk-sign-up-dropdn .dropdown-submenu.pull-left {
    float: none;
}

.yk-sign-up-dropdn .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.yk-sign-up-dropdn .btn-main{min-width: 411px; min-height: 50px; text-align: left; border: none;} */


.btn-main{background-color: #ffffff !important; border: none !important;}

.btn-sm{border: none !important; }

.yg-dropdown-overwrtie {
  width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem 0rem;
}