@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#root,
body,
html {
  height: 100% !important;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
body {
  font-family: 'Poppins' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --textColor1: #000;
  --textColor2: rgb(42, 42, 42);
  --textColor3: rgb(189, 189, 189);
  --textColor4: rgb(211, 211, 211);
  --textColor5: rgb(255, 255, 255);
  --bgColor1: rgb(24, 24, 24);
  --bgColor2: #004f9b;
  --bgColor3: rgb(255, 255, 255);
  --bgColor4: rgb(174, 174, 174);
}
.non_header_content {
  height: 100%;
  margin-top: 8rem;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.alert-under-input {
  display: none;
  color: red;
  font-size: clamp(0.6rem, 1vmax, 1.4rem);
  text-align: left;
  width: 100%;
}

.fSQziN {
  height: 50vh;
  overflow-y: scroll !important;
}

.hLGqlg {
  z-index: 0 !important;
}

.header {
  height: auto !important;
  z-index: 10000;
}

.Toastify__toast-container {
  z-index: 100000000 !important;
}

.ant-pagination li {
  padding: 0 !important;
}

.ant-pagination-item-link {
  display: grid !important;
  place-items: center !important;
}

.nav ul li {
  padding: 4px;
}

.user-list-view-table div:first-child {
  overflow-y: visible !important;
  white-space: normal !important;
}

.yk-sticky-footer {
  position: fixed;
}

.greyed {
  filter: grayscale(1);
  opacity: 0.5;
}
.add-row {
  min-height: 48px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center !important;
  padding: 10px;
  border: 1px solid black;
  border-top: none;
}
.dummy-col {
  flex: 1;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  height: inherit;
  padding-block: 0.6rem;
}
.dummy-col > img {
  width: 16px;
  height: 16px;
  align-self: center;
}
.font-8 {
  font-size: 0.8rem !important;
}
.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* .bsgpsK div:first-child {
  white-space: normal !important;
} */
.theme {
  color: var(--bgColor2) !important;
}
/* tablet view */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004f9b;
  border-radius: 64px;
}

.spinner-border {
  color: var(--bgColor2);
}
.product-detail-table {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.product-detail-table div:first-child {
  overflow-x: visible !important;
  overflow-y: visible !important;
  white-space: normal !important;
}
.react-calendar__tile--now {
  background-color: #00509b55 !important;
}
.rdt_TableCol > div > div {
  white-space: normal !important;
  font-size: 1rem;
}
.search-header-container {
  background: #004f9b;
  color: white;
  font-size: 1rem !important;
}
.card-header-title {
  text-decoration: underline;
  font-weight: 600;
  padding: 1rem 0rem;
}
.card-header-items {
  font-weight: 500;
  font-size: 0.8rem !important;
  margin-bottom: 1rem !important;
}
.ryg-header-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0rem;
}
.ryg-text {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.home-ryg-img {
  width: 100%;
  aspect-ratio: 2/1.25;
  border-radius: 0.2rem;
  object-fit: cover;
  object-position: center;
}
.border-black {
  border: 1px solid #000 !important;
}
.border-md {
  /* font-size: 2vh; */
  font-weight: 500;
  /* width: 12rem; */
  border: none;
}
.border {
  /* font-size: 2vh; */
  font-weight: 500;
  /* width: 12rem; */
  border: 1px solid lightgrey;
}
.border-grey {
  /* font-size: 2vh; */
  font-weight: 500;
  /* width: 12rem; */
  border: 1px solid grey;
}
.border-black {
  /* font-size: 2vh; */
  font-weight: 500;
  /* width: 12rem; */
  border: 1px solid grey;
}
.thumb {
  border: 1px solid lightgrey;
  aspect-ratio: 1;
  /* width: 12rem; */
}

.vh2 {
  font-size: 2vh;
  font-weight: 500;
  /* width: 12rem; */
}

.light-grey {
  color: grey;
}

.text-bold {
  font-weight: 500;
  font-size: 1rem;
}

.thumb > img {
  object-fit: contain;
  aspect-ratio: 1;
}

.bordered-btn {
  background-color: var(--bgColor2) !important;
  padding-block: 0.2rem !important;
  color: white !important;
  padding-inline: 1rem !important;
  border: 1px solid black !important;
  font-size: 0.6rem !important;
}

.bordered-btn:hover {
  text-decoration: none !important;
}
.accordian-title[aria-expanded='true'] .fa-angle-right {
  transform: rotate(-90deg);
}
.img-product-line {
  height: 100%;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.add-table-row {
  border-bottom: 1px solid lightgrey;
  padding: 0.75rem 0;
}

.my-input-group {
  border-bottom: 1px solid lightgrey;
  padding: 0.75rem 0;
}

.my-input-group:first-of-type {
  margin-top: -0.75rem;
}

.my-input-group > * {
  flex: 1 1 50%;
}

.my-input-group .input-group-prepend .input-group-text {
  background-color: transparent;
  border: none;
  padding-left: 0;
}

.add-table-col-input {
  border: none;
  height: 100%;
}

.add-table-col-input:focus,
.add-table-col-input:active {
  outline: none;
}
.max-width-40 {
  max-width: 40% !important;
}

.user-approval-screen {
  width: 100%;
  padding: 0.5rem 2.5rem;
}
.edit-icons {
  display: flex;
  flex-direction: row;
}
.icon {
  color: white;
  padding: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 0.3rem;
}
.reject {
  background-color: #cd2727;
}
.accept {
  background-color: #1cc745;
}

.btn {
  margin: 0;
  padding: 0.5rem 1rem;
  margin-right: 0rem;
  outline: none;
  border: none;
  text-align: left !important;
  border-radius: 5px;
  background-color: var(--bgColor2) !important;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.8rem !important;
  width: max-content;
  cursor: pointer;
  border: 1px solid #000000 !important;
  color: var(--textColor5) !important;
}
.modal-footer .btn-background {
  background-color: transparent !important;
  color: #004f9b !important;
  border: 1px solid #000 !important;
}
.modal-custom-footer .btn-background {
  background-color: transparent !important;
  color: #004f9b !important;
  border: 1px solid #000 !important;
}

.create-domain-btn {
  border: 0.5px solid #707070;
}

.btn-container {
  display: flex;
  margin-right: 20px;
  justify-content: right;
}

.action-btn-btn {
  margin-bottom: 50px;
  outline: none;
  text-align: left !important;
  border-radius: 5px;
  background-color: var(--bgColor2) !important;
  font-family: Poppins;
  font-weight: normal;
  font-size: 0.8rem !important;
  width: max-content;
  cursor: pointer;
  border: 1px solid #000000 !important;
  color: var(--textColor5) !important;
  padding: 0.2rem 1rem !important;
}
.domain-user-list {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  padding: 1rem;
}
.domain-user-list h3 {
  font-size: 32px;
  font-weight: 250px;
}

.domain-user-list-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.domain-list-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.domain-user-table-content {
  width: 60%;
  min-width: 500px;
}

.listed-domain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.accept-request {
  margin-right: 1rem !important;
}

.ant-pagination-item-link {
  display: grid !important;
  place-items: center !important;
}

input:focus,
select:focus {
  outline: none;
}

.modal-background {
  position: absolute;
  z-index: 100000000;
  background: rgba(0, 0, 0, 0.3);
  /* padding: 1rem; */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-wrapper {
  /* background: white; */
  /* opacity: 100%; */
  color: black;
  /* width: 100%; */
  /* margin: 2rem; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* -webkit-box-shadow: 0px 0px 11px -1px rgba(168, 168, 168, 1);
  -moz-box-shadow: 0px 0px 11px -1px rgba(168, 168, 168, 1);
  box-shadow: 0px 0px 11px -1px rgba(168, 168, 168, 1); */
}

.select-icon {
  position: relative;
}
.drop-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  margin-top: 0.3rem;
  color: #000000;
}
.save-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.6rem;
  /* font-size: 1.5rem; */
  aspect-ratio: 1;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row !important;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.modal-content > .user-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  /* min-width: 190px; */
}

.modal-content > .user-img > img {
  width: 70%;
  border: 1px solid;
  border-radius: 0.2rem;
}

.modal-content > .user-details-form {
  display: flex;
  flex-direction: column;
  /* min-width: 290px; */
  /* max-width: 350px; */
  font-size: 0.8rem;
}

.user-details-form > .input-field-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.address-inputs {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin: 0.3rem 1.3rem;
}

.user-details-form > .input-field-container > input,
.user-details-form > .input-field-container > .address-inputs > input,
select {
  width: 10rem;
  height: 1.3rem;
  outline: none;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 3px;
  padding: 14px 8px;
  font-size: 0.8rem;
  font-family: Poppins;
}
select {
  height: 1.6rem;
  font-size: 0.8rem !important;
}

.address-inputs > input {
  margin-bottom: 0.3rem;
}

.state-and-code > input {
  width: 45%;
  height: 1.3rem;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 3px;
  padding: 0.07rem 0.6rem;
  font-size: 0.8rem;
  font-family: Poppins;
}

.state-and-code {
  display: flex;
  justify-content: space-between;
  width: 11.3rem;
}

.address {
  margin-top: 0.3rem;
}

.domain-modal-cta {
  display: flex;
  width: 11rem;
  justify-content: center;
}
.domain-input {
  /* width: 30rem; */
  box-shadow: 0px 0px 8px #00000035;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 0.2rem 1.1rem;
  color: #000000;
}

.domain-modal-cta .cancel-domain {
  background-color: transparent !important;
  color: #004f9b !important;
  font-weight: 400;
  border: 1px solid #004f9b;
  margin-right: 1rem;
}
.domain-modal {
  align-items: center !important;
  justify-content: center !important;
}

.yk-password-container {
  position: relative;
}
.yk-eye-icon {
  position: absolute;
  right: 2px;
  top: 10px !important;
}

.yg-custom-dropdowns {
  background-color: white !important;
  color: black !important;
  border-color: #000 !important;
  width: 162px !important;
}

@media (max-width: 800px) {
  .domain-user-table-content {
    min-width: 100px !important;
    width: 100%;
  }
  .domain-list-content {
    width: 100%;
    min-width: 100px !important;
  }
  .listed-domain {
    font-size: 0.8rem;
  }
}
.RYG-Information {
  background: url('/src/assets/RYG-Information\ banner.png') no-repeat center;
  background-size: cover;
}
.Product-line {
  background: url('/src/assets/Product\ line.png') no-repeat center;
  background-size: cover;
}
.search-banner {
  background: url('/src/assets/SearchResults\ banner.png') no-repeat center;
  background-size: cover;
}
.yk-dd.row.yk-data-row.d-flex.justify-content-between.align-items-center.p-3.dropright.btn-group.show {
  background: #e9ecef;
}
.border.text-center.rounded {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: 500;
  font-size: 0.8rem;
}
.yk-admin-contact .sm-h {
  font-size: 0.8rem;
  font-weight: 600;
}
.yk-admin-contact .product-item-name i {
  font-size: 0.8rem;
  color: #004f9b;
}

.yk-admin-contact .product-item-name span {
  color: #000000;
  font-family: 'Poppins' !important;
  font-size: 0.6rem;
}
.profile-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 20vw;
  display: grid;
  place-items: center;
}
.profile-circle i {
  font-size: 2rem;
  color: #004f9b;
}
.profile-con i {
  font-size: 0.8rem;
}
.profile-con i {
  line-height: 26px;
  color: #004f9b;
}
.profile-con span {
  font-size: 0.8rem;
  color: #000000;
  letter-spacing: 1px;
  font-family: 'Poppins';
}
.h {
  font-size: 1rem;
  font-weight: 500;
}
.yk-admin-contact .pmk-product {
  box-shadow: 0px 0px 8px #c4c4c4;
}

.yk-admin-contact .pmk-product .sm-img-box i {
  font-size: 1rem;
  color: #004f9b;
}
.yk-admin-contact .pmk-product .pmk-product-detail {
  font-size: 0.8rem !important;
  color: #000000;
  word-break: break-all;
}
.yk-admin-contact .pmk-product .pmk-product-detail i {
  font-size: 0.8rem !important;
  color: #004f9b;
}

.yk-admin-contact .img-box {
  display: grid;
  place-items: center;
  height: 4rem;
  overflow: hidden;
}
.yk-admin-contact .img-box img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__days__day {
  height: 80px;
  width: 80px;
}
.react-calendar__navigation {
  height: auto !important;
}
.react-calendar__month-view__days__day,
.react-calendar__month-view__weekdays__weekday {
  font-size: 0.6rem !important;
}
.event-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  top: 0;
  left: 1rem;
  right: 0;
  padding: 0.125rem;
}
.event-title {
  background-color: rgb(0, 79, 155);
  color: #fff;
  padding: 0.1rem 0.25rem;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.heading-container {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: lightgray;
}
.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: 600;
  font-size: 0.6rem;
}
.product-desc {
  font-size: 0.6rem;
  word-break: break-word;
}
.product-desc p {
  overflow-y: auto;
  max-height: 12rem;
}
.table-header {
  text-transform: 'capitalize';
  font-weight: 600;
}
.rdt_TableCol > div > div {
  font-size: 0.6rem;
}
.rdt_TableHeadRow {
  min-height: 48px !important;
}
.rdt_TableCell {
  font-size: 0.6rem !important;
}
.event-dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50rem;
  background-color: #004f9b;
  align-self: end;
}
.date-container,
.register-container,
.desc-container,
.location-container {
  min-width: 10rem;
}
.date-container p,
.register-container,
.desc-container {
  font-size: 0.8rem;
}
.location-container p,
.location-container i {
  font-size: 0.8rem;
}
.table-responsive-md {
  width: 100% !important;
}
#main {
  transition: all 0.35s ease;
}
.icon-container {
  width: 1rem;
  height: 1rem;
}
.icon-container i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  border-radius: 50rem;
  border: 1px solid lightgrey;
  width: 1rem;
  height: 1rem;
}
.search_input {
  font-size: 0.8rem;
  font-family: Poppins;
  color: black;
  border: 0;
  width: 100%;
  background: none !important;
}
.search_input::placeholder {
  color: black;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.focus-none :focus {
  box-shadow: none;
}
.date-sm {
  font-size: 0.8rem;
  color: grey;
}
.news-category-sm {
  font-size: 1rem;
  text-decoration: underline;
}
.news-sub-category-sm {
  height: 2.8rem;
}
.clamp-1v {
  font-size: clamp(0.6rem, 1vmax, 1.4rem) !important;
}
.image-sq-1v {
  width: clamp(0.6rem, 1vmax, 1.4rem) !important;
  height: clamp(0.6rem, 1vmax, 1.4rem) !important;
}
.image-sq-2v {
  width: clamp(0.8rem, 1.4vmax, 1.4rem) !important;
  height: clamp(0.8rem, 1.4vmax, 1.4rem) !important;
}
.clamp-2v {
  font-size: clamp(0.8rem, 1.4vmax, 1.4rem) !important;
}
.clamp-08v {
  font-size: clamp(0.6rem, 0.8vmax, 1rem) !important;
}
.calendar-icon {
  margin-left: 90%;
  position: absolute;
  height: 100%;
  align-items: center;
  display: flex;
}
.img-ryg {
  border: #000;
  width: inherit;
  height: auto;
  aspect-ratio: 3/2;
}
.form-check label {
  flex: 1;
}

/* USER LIST CSS */
@import '~antd/dist/antd.css';
.user-list-view-table {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

/* .user-list-view-table div:first-child {
  overflow-x: visible !important;
} */

.list-view-table {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.table-container {
  /* display: flex;
  flex-direction: column; */
}

.event-list-table {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(196, 196, 196);
}

.event-list-table tbody {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

.event-list-table th {
  position: sticky;
  top: 0;
  background: rgb(0, 79, 155);
  color: #fff;
  padding: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event-list-table td {
  padding: 12px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.event-list-table td:hover {
  background: #efefef;
}

.event-list-table td.active {
  background: #c0c0c0;
}

.add_row {
  font-size: 16px;
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: #ffff;
  align-items: center;
  justify-content: center !important;
  cursor: pointer;
  height: 50px;
}
.mgt {
  margin-top: 2rem !important;
}
.add_row > i {
  background-color: black;
  color: white;
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 0.4rem;
}

.edit-icons > i {
  cursor: pointer;
}
.edit-icons > i:hover {
  opacity: 80%;
}

.filter-actions {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-icons {
  width: 0%;
  height: 25px;
  max-width: 15rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.filter-icons > img {
  width: 1rem;
  height: 1rem;
  margin: 0 2rem;
  color: rgb(0, 79, 155);
}

.filter-actions > .filter-checkbox {
  margin: 0 1rem;
}

#dropdown:checked + label {
  display: none;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* margin-bottom: 4rem; */
}

.ant-pagination-item-link {
  display: grid !important;
  place-items: center !important;
}

.filter-checkbox {
  font-size: 0.8rem;
}

.role-dropdown-sort {
  left: -22px;
}
.__rdt_custom_sort_icon__.asc i,
.__rdt_custom_sort_icon__.asc svg {
  transform: none !important;
  -webkit-transform: none !important;
}
