.yk-table-t .thead-dark {
  background-color: #004f9b;
  color: #ffffff;
}

.yk-table-t .tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #000000 !important;
}

.yk-table-t table {
  border: 1px solid #000;
}

.yk-table-t th i {
  visibility: hidden;
}

.yk-table-t th:hover i {
  visibility: visible;
  cursor: pointer;
}

.rdt_Table {
  min-height: 280px !important;
}

.dropdown-menu {
  max-height: 230px !important;
  overflow-y: auto !important;
}
/* 
.rdt_TableCol_Sortable {
  display: inline-flex !important;
  overflow: visible !important;
} */
