@import '~antd/dist/antd.css';
.user-list-view-table {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.user-list-view-table div:first-child {
  overflow-x: visible !important;
}

.list-view-table {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.table-container {
  /* display: flex;
  flex-direction: column; */
}

.event-list-table {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(196, 196, 196);
}

.event-list-table tbody {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

.event-list-table th {
  position: sticky;
  top: 0;
  background: rgb(0, 79, 155);
  color: #fff;
  padding: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event-list-table td {
  padding: 12px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.event-list-table td:hover {
  background: #efefef;
}

.event-list-table td.active {
  background: #c0c0c0;
}

.add_row {
  font-size: 16px;
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: #ffff;
  align-items: center;
  justify-content: center !important;
  cursor: pointer;
  height: 50px;
}
.mgt {
  margin-top: 2rem !important;
}
.add_row > i {
  background-color: black;
  color: white;
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 0.4rem;
}

.edit-icons > i {
  cursor: pointer;
}
.edit-icons > i:hover {
  opacity: 80%;
}

.filter-actions {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-icons {
  width: 0%;
  height: 25px;
  max-width: 15rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.filter-icons > img {
  width: 1rem;
  height: 1rem;
  margin: 0 2rem;
  color: rgb(0, 79, 155);
}

.filter-actions > .filter-checkbox {
  margin: 0 1rem;
}

#dropdown:checked + label {
  display: none;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* margin-bottom: 4rem; */
}

.ant-pagination-item-link {
  display: grid !important;
  place-items: center !important;
}

.filter-checkbox {
  font-size: 0.8rem;
}

.role-dropdown-sort {
  left: -22px;
}
